{{ partial "header.html" . }}

<div class="container">
  <div class="section">
    {{ partial "agenda.html" .}}
  </div>
  <div class="section">
    <div class="row">
          {{ range .Site.Pages}}
            {{ if in .Params.categories "lab" }}
              {{ if in .Params.tags "cf" }}
                  {{ partial "labs.html" . }}
              {{end}}
              {{ if in .Params.tags "spring" }}
                  {{ partial "spring-labs.html" . }}
              {{end}}
              {{ if in .Params.tags "node" }}
                  {{ partial "node-labs.html" . }}
              {{end}}
              {{ if in .Params.tags "docker" }}
                  {{ partial "docker-labs.html" . }}
              {{end}}
              {{ if in .Params.tags "concourse" }}
                  {{ partial "concourse-labs.html" . }}
              {{end}}
            {{end}}
          {{end}}
    </div>
    {{ partial "pagination.html" .Paginator }}
  </div>
  <div class="section">
    {{ partial "app.html" .}}
  </div>
</div>

{{ partial "footer.html" . }}
