{{ $baseurl := .Site.BaseURL }}
<div class="col s6">
  <div class="card-panel hoverable teal darken-1">
      <div class="card-content white-text">
  <!-- Card Content -->
      <h4><a href="{{ .Permalink }}"><span  class="white-text darken-4">{{ .Title }}</a></h4>
      <p>{{ .Summary }}</p>
      <p>
      {{if .Params.tags }}
        {{ range $index, $tag := .Params.tags }}
          <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
        {{ end }}
      {{end}}
      </p>
  </div>
</div>
</div>
